

<div id="chart_header">
	<h2>Charts</h2>
</div>

<hr>

<div id="charts_index_container col-xs-10">
<% @user.charts.each do |c| %>
	<div ><%= button_to c.name, chart_path(c), class: "mdl-button mdl-js-button mdl-js-ripple-effect chart_titles", :method => :get %></div>
  <div>
  	<span>
  		<%= button_to 'Edit', "/charts/#{c.id}/edit", class: "button mdl-button mdl-js-button mdl-js-ripple-effect chart_buttons", :method => :get %>
  	</span> 
  	<span><%= button_to 'Delete', "/charts/#{c.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-js-button mdl-js-ripple-effect chart_buttons" %></span>
  </div><hr>
<% end %>
</div>

