<p id="notice"><%= notice %></p>

<div id="chart_header">
	<strong>Charts</strong>
</div>

<hr>

<div id="charts_index_container">
<% @user.charts.each do |c| %>
	<div class="chart_titles"><%= link_to c.name, chart_path(c), class: "mdl-button mdl-js-button mdl-js-ripple-effect" %></div>
  <div><span><%= link_to 'Edit', edit_chart_path(c), class: "mdl-button mdl-js-button mdl-js-ripple-effect" %></span> <span><%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-js-button mdl-js-ripple-effect" %></span></div><hr>
<% end %>
</div>

