// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




body {
	text-align: center;
	font-family: 'Cabin', helvetica, sans-serif;
	font-weight: 400;
}

.mdl-button__ripple-container {
	font-family: 'Cabin', helvetica, sans-serif;
	font-weight: 400;
}

a {
	font-family: 'Cabin', helvetica, sans-serif;
	font-weight: 400;
}

.mdl-button .mdl-js-button .mdl-js-ripple-effect {
	font-family: 'Cabin', helvetica, sans-serif;
	font-weight: 400;
}

#chart_header {
	font-size: 3em;
}

.chart_titles {
	font-size: 1.5em;
}

.chart_titles a:hover {
	text-decoration: none;
}

.chart_buttons {
	margin-top: -6px;
	margin-bottom: -16px;
}
